<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShareMood</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <div id="board">

        <div id="board-heading">Company's Mood Board</div>

        <a id="add-mood-button" href="/form">Write down how you are feeling!</a>


        
            <% data.forEach((item)=>{%> 
                <% if (item.mood=="neutral") { %>
                    <div class="sticky neutral"><%=item.mood%></div>
                <% } %>
                <% if (item.mood=="happy") { %>
                    <div class="sticky happy"><%=item.mood%></div>
                <% } %>
                <% if (item.mood=="sad") { %>
                    <div class="sticky sad"><%=item.mood%></div>
                <% } %>
                <% if (item.mood=="excited") { %>
                    <div class="sticky excited"><%=item.mood%></div>
                <% } %>
                <% if (item.mood=="anxious") { %>
                    <div class="sticky anxious"><%=item.mood%></div>
                <% } %>
            <%});%> 
        

    </div>
</body>
</html>